/*--GLOBAL--*/

@import url(./css/utilities.css);

body {
  margin: 0rem;
  font-family: "Overpass";
  background-color: var(--cor-06);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  box-sizing: border-box;
  max-width: 25rem;
  background-color: var(--cor-05);
  display: grid;
  padding: 1rem;
  margin-block: 4rem;
  margin-inline: auto;
  border-radius: 1rem;
  gap: 1.25rem;
}

/*--MAIN--*/

.icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  background-color: hsl(213, 19%, 16%);
  border-radius: 50%;
  position: relative;
}

.icon img {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

h1 {
  margin: 0rem;
  font-size: 1.8rem;
  font-weight: 700;
}

p {
  margin: 0rem;
  font-size: 1rem;
  font-weight: 400;
}

h2 {
  margin: 0px;
  font-size: 1.75rem;
}

.numbers {
  display: flex;
  gap: 1.2rem;
}
.item {
  background: var(--cor-06);
  color: var(--cor-04);
  height: 1.9rem;
  width: 1.9rem;
  line-height: 1.9rem;
  text-align: center;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
}

.item:hover {
  background: var(--cor-01);
  color: var(--cor-02);
}

.botao {
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--cor-01);
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.botao:hover {
  background: var(--cor-02);
  color: red;
}

/*--Thank you--*/

article {
  display: grid;
  place-items: center;
  gap: rem;
}

article p {
  text-align: center;
  padding-inline: 1.5rem;
  margin-bottom: 1.5rem;
}

/*---Script---*/

.thank-you {
  display: none;
}

.ativar {
  display: grid;
}

.esconder {
  display: none;
}

.selected {
  background-color: var(--cor-03);
}

#message {
  display: none;
}
